.contact-container {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
}
.contact-fields {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2em;
}
.contact-title h2 {
	margin-bottom: 0px;
}
hr {
	border: none;
	width: 100%;
	height: 5px;
	background-color: #333;
	border-radius: 10px;
	margin: 0;
}
.contact-inputs {
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	width: 100%;
	height: 3em;
	border: none;
	outline: none;
	padding: 1em;
	font-weight: 500;
	color: #666;
	background-color: #f4f4f4;
	border-radius: 5px;
}
.contact-inputs:focus {
	border: 2px solid #333;
}
textarea {
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	width: 100%;
	height: 6em;
	border: none;
	outline: none;
	padding: 1em;
	font-weight: 500;
	color: #666;
	background-color: #f4f4f4;
	border-radius: 5px;
}
textarea:focus {
	border: 2px solid #333;
}
.contact-btn {
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	border: 1.5px solid currentColor;
	border-radius: 2em;
	margin-left: 1em;
	transition: background 250ms ease-in-out;
	letter-spacing: 1px;
	padding: 0.75em 1.5em;
}
.contact-btn:hover {
	background: var(--text);
	color: var(--text-inverse);
	border-color: var(--text);
}
.contact-btn::after {
	display: none;
}
.contact-btn--highlight {
	background: limegreen;
	border-color: limegreen;
	color: #333;
}
.contact-btn--highlight:hover {
	background: var(--text);
	border-color: var(--text);
}
