*,
* ::before,
* ::after {
	box-sizing: border-box;
}
body {
	height: 100vh;
	margin: 0;
	font-family: "Poppins", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.site-logo {
	font-weight: 900;
	font-size: 1.2rem;
	color: var(--text);
	text-decoration: none;
}
header {
	--text: #f4f4f4;
	--text-inverse: #333;
	--background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	transition: background 250ms ease-in;
	background: var(--background);
	color: var(--text);
}
.nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.nav__link {
	--spacing: 1em;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: calc(var(--spacing) / 2) var(--spacing);
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	cursor: pointer;
}
.nav__link:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: var(--spacing);
	right: var(--spacing);
	height: 2px;
	background: currentColor;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: -webkit-transform 150ms ease-in;
}
.nav__link:hover::after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.nav__link:focus::after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.nav-scrolled {
	--text: #333;
	--text-inverse: #f4f4f4;
	--background: #f4f4f4;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.home-intro {
	padding: 20vh 0;
	background: #123 url(../img/home_bg.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	color: white;
	text-align: center;
}
.home-about {
	padding: 1em 0;
	max-width: 100%;
	margin: 0 2em;
}
.contact-about {
	padding: 1em 0;
	max-width: 100%;
	margin-inline: 2em;
	margin-bottom: 18%;
}
.recipe-section {
	max-width: 100%;
	background: #f4f4f4;
	padding: 1em 1em;
}
.columns {
	display: grid;
	grid-gap: 4em;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
}
.col {
	padding: 1em;
}
.col-title {
	--spacing: 1em;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: calc(var(--spacing) / 2) var(--spacing);
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	cursor: pointer;
}
.col-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: var(--spacing);
	right: var(--spacing);
	height: 2px;
	background: currentColor;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: -webkit-transform 150ms ease-in;
}
.col:hover .col-title:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.col:focus .col-title:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.col-img {
	max-width: 100%;
	border-radius: 5px;
	object-fit: contain;
	cursor: pointer;
	transition: transform 150ms ease-in;
}
.col:hover .col-img {
	transform: scale(1.02, 1.02);
}
.col:focus .col-img {
	transform: scale(1.02, 1.02);
}
.content-container {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
footer {
	width: 100%;
	height: auto;
	margin-top: auto;
	display: flex;
	padding: 3vh 0;
	background: #123 url(../img/home_bg2.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	color: white;
	text-align: center;
	align-items: flex-end;
	justify-content: space-around;
}
